/*DO NOT TOUCH THIS CSS*/
/*I REPEAT: DO NOT TOUCH THIS CSS*/
/*UNLES YOU ARE A WEB DEVELOPER OR IDM/CS STUDENT, DO NOT TOUCH THIS CSS*/
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    }
    
 html {
    font-size: 100%;
    width: 100%;
    height: 100vh;
    background-image: url(images/background_img.png);
    background-repeat: repeat;
    overflow-x: hidden;
    }


#wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    }

/*Head CSS*/
#header {
    background-color: rgb(0,3,127);
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    }

/*Mobile Menu CSS in desktop*/

    .mobile_logo {
        display: none;
    }

.head_menu {
    text-align: right;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    margin-top: -2.5rem;
    position: fixed;
    }

.head_menu a {
    color: white;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 3.7rem;
    margin-top: -5%;
    border-radius: 1.5rem;
    width: 1%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    }

.head_menu a:hover {
    background-color: #fff; 
    color: rgb(0,3,127);
    transition: 50ms linear;
    }


/*index CSS*/

#missionBox {
    background: rgba(0,3,127, .70);
    color: #fff;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4rem;
    margin-bottom: 1rem;
    width: 80%;
	height: 100px;
	transform: skew(-10deg);
}

#mainDiv {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    margin-top: -2rem;
    padding: 2rem;
    /* margin-bottom: 1.5rem; */
    background-color: white;
    text-align: center;

}

/* CSS for animated diagram on page 1 */

#diagramDiv {
    width: 100%;
    height: auto;
    background: linear-gradient(217deg, rgba(127, 222, 244, 0.8), rgba(231, 249, 253,0.5) 70.71%);
}

.diagramAnim {
    width: 100%;
}

#Arrow1 {
    animation-name: blink1;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-delay: 1s;
      animation-iteration-count:
    infinite;
  }
  
  #Arrow2 {
    animation-name: blink1;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-delay: 5.5s;
      animation-iteration-count:
    infinite;
  }
  
  #Arrow3 {
    animation-name: blink1;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-delay: 7.75s;
      animation-iteration-count:
    infinite;
  }
  
  #Arrow4 {
    animation-name: blink1;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-delay: 3.25s;
      animation-iteration-count:
    infinite;
  }
  
  
  #Arrow7 {
    animation-name: blink2;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-delay: 3s;
      animation-iteration-count:
    infinite;
  }
  
  #Arrow6 {
    animation-name: blink2;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-delay: 7.5s;
      animation-iteration-count:
    infinite;
  }
  
  #Arrow5 {
    animation-name: blink2;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-delay: 9.75s;
      animation-iteration-count:
    infinite;
  }
  
  #Arrow8 {
    animation-name: blink2;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-delay: 5.25s;
      animation-iteration-count:
    infinite;
  }

/* CSS for visual menu on index */

#visual_menu {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: .5rem;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 4rem;
    padding-right: 5rem;
    width: 100%;
    margin-bottom: -8rem;
}

#visual_menu a {
    text-decoration: none;
}


#currentLink, #teamLink, #pastLink, #workLink {
    margin-top: -0.3rem;
    max-width: 250px;
    text-align: center;
    color: white;
    background: rgba(0,3,127, .90);
    height: 3.1rem;
    padding: .60rem;
    margin-left: 6.5rem;
}

/*directory CSS*/
#currentHead {
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 4%;
    }

#pastHead {
    margin: 0 auto;
    margin-left: 5%;
    }

#directory {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 18%;
    width: 100%;
    margin-bottom: 5%;
    background-color: rgba(0,3,127, .90);
    }

.square:hover a{
    animation-name: spin;
      animation-duration: 400ms;
      animation-timing-function: ease;
      animation-delay: 100ms;
      animation-iteration-count: 1;
      animation-direction: linear;
      transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    }

.square img:hover {
    animation-name: spin;
      animation-duration: 400ms;
      animation-timing-function: ease;
      animation-delay: 100ms;
      animation-iteration-count: 1;
      animation-direction: linear;
      transform-origin: 50% 50%;
    animation-fill-mode: forwards;
  }
  
  .change {
      fill: blue;
  }

/* old about CSS*/

/* #readBox {
    margin: 0 auto;
    background-color: rgba(204, 204, 204, 0.8);
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 15px;
}  */

/* publications CSS */

#pubHead {
    width: 100%;
    color: white;
    background-color: rgba(0,3,127, .70);
    margin-top: 3rem;
    color: white;
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
} 

#pubHead h1 {
    font-size: 1.45em;
}

#pubHero {
    position: static;
    width: 55%;
    padding: 1rem;
    margin-top: 0rem;
}

#pubHero img {
    width: 100%;
}

#pubBox {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    padding: 1rem;
    width: 100%;
    height: 78vh;
    background-color: rgba(235, 232, 230, 0.7);
    align-content: center;
}

#pubList {
    background-color: white;
}

#pubList ul {
    list-style-type: none;
    text-decoration: none;
    height: 65vh;
    display: grid;
    padding-right: 3rem;
}

#pubList li {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: lightgrey;
    border: 1px solid darkgrey;
    padding-left: 1rem;
}

#pubList p {
    margin-left: 0.35rem;
    margin-right: 0.3rem;
}

/* project.php CSS */

#projPageBox {
    margin: 0 auto;
    /* margin-left: 0%; */
    padding: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
    margin-top: -3.5rem;
}

/* contact page */

#contactBox {
    width: 100%;
    background-color: rgba(0,3,127, .70);
    margin-top: 3rem;
    color: white;
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

#social_links {
    width: 100%;
    text-align: center;
    margin-top: 15rem;
}

#social_links a { 
    padding: 10rem;
    background-color: white;
}

/* past.php/current.php CSS */

.title {
    display: block;
}

#pastBoxMobile {
    display: none;
}

#currentBoxMobile {
    display: none; 
}

/* .projectSelect {
margin: 0 auto;
margin-left: 5%;
padding: 5%;
width: 100%;
display: grid;
grid-template-columns: repeat(2, 2fr);
grid-gap: 10px;
grid-auto-rows: minmax(100px, auto);
} */


.projectBox {
    margin-right: 15%;
}

#headbox {
    color: white;
    padding-left: 3rem;
    padding-top: 0.2rem;
    padding-bottom: .25rem;
    margin-top: 3rem;
    background: rgba(0,3,127, .90);
}

#headbox h1 {
    font-size: 1.5em;
}

#project1 img {
    width: 80%;
}

#project2 img {
    width: 80%;
}

#project3 img {
    width: 80%;
}

#project4 img {
    width: 80%;
}

#project5 img {
    width: 80%;
}

/* template_project CSS */

#templateTitle {
    margin-top: 5%;
    background: rgba(0,3,127, .90);
    width: 100%;
    color: #fff;
    padding-left: 5%;
}

#templatePage {
    display: flex;
    flex-direction: row;
    margin-bottom: -5%;
}

#templatePicWeb {
    position: absolute;
    width: 100%;
    margin-bottom: -5%;
    padding-right: 5%;
    z-index: -999;
}

#templatePicWeb img {
    width: 50%;
}

#templatePicPhone {
    display: none;
}

#templateDesc {
    margin: 5%;
    background-color: rgba(204, 204, 204, 0.8);
    padding: 5%;
    border-radius: 15px;
    margin-left: 50%;
    margin-right: 2%;
}

/* about page CSS */

#aboutBoxWeb {
    background: rgba(0,3,127, .90);
    color: white;
    padding: .5rem;
    margin-top: 3rem;
    
}

#aboutBoxWeb h1 {
    font-size: 1.5em; 
}

#aboutBoxMobile {
    display: none;
}

#readAboutBox {
    margin: 0 auto;
    background-color: rgba(204, 204, 204, 0.7);
    margin-left: 1rem;
    margin-right: 1rem;
    /* padding-left: 1rem; */
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 15px;
}

#hero {
    position: static;
    width: 100%;
    padding: 1rem;
    padding-right: 8rem;
    padding-left: 8rem;
    margin-top: 0rem;
    }

#diaGram {
    width: 70%;
    padding: 1rem;
    margin-left: 10rem;
    display: block;
}

#diaGram img {
    width: 100%;
}

/*Footer CSS*/
#footer{
    position: fixed;
    width: 100%;
    background-color: rgb(0,3,127);
    color: white;
    text-align: center;
    bottom: 0rem;
    }

/*Animation CSS*/
@keyframes spin {
   0% {transform: rotate(0deg);}
      100% {transform: rotate(-45deg);}
    }

    @keyframes blink1 {
        50% {
          fill: #F2E98C;
        }
      }
      
      @keyframes blink2 {
        50% {
          fill: green;
        }
      }

/*Media Queries*/

@media screen and (min-width: 1440px) {
    #visual_menu {
        padding-left: 12.5rem;
    }
}

@media screen and (min-width: 1210px) {
    #visual_menu {
        padding-left: 9.2rem;
    }
}

@media screen and (min-width: 960px) {
    .mobile-menu {
        display: none;
    }

}

@media screen and (orientation:portrait) {
    #main {
        margin-bottom: 3rem;
    }

    /*Mobile Menu CSS*/

    .web_logo {
        display: none;
    }

    .mobile_logo {
        display: block;
        width: 100%;

    }

    .mobile-menu {
        width: auto;
        position: relative;
        padding: 0;
        height: 50px;
        line-height: 50px;
        /* disable text selection by clicking */
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;
        z-index: 1;
      }
      
      .mobile-menu a.dropdown-link{
        display: block;
        height: 50px;
        padding: 0 20px;
        color: #000000;
        font-size: 20px;
        cursor: pointer;
        background-image: url(images/menu_png.png);
      }
      
      .mobile-menu a.dropdown-link:hover{
          text-decoration: none;
      }
      .mobile-menu a.dropdown-link i{
          float: right;
          position: relative;
          top: 15px;
      }
      
      .mobile-dropdown {
        display: none;
        list-style-type: none;
        background: rgb(0,3,127);
        padding: 0;
        min-width: 125px;
        position: relative;
        z-index: 100;
        margin: 0;
      }
      
      .mobile-dropdown li{
        padding: 0;
        height: auto;
      }
      
      .mobile-dropdown li a{
        padding: 0;
        color: #FFFFFF;
        display: block;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        text-decoration: none;
      }
      
      .mobile-dropdown li a:hover{
        text-decoration: none;
        background: #00adef;
    }
    
    .head_menu {
        display: none;
    }

    #missionBox {
        margin-top: 30%;
        font-size: 0.75em;
    }

    #mainDiv {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    margin-top: -7.7rem;
    background-color: white;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: .5rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    }

    #diagramDiv {
        margin-top: -8rem;
    }
    
    #visual_menu {
        padding-left: 0%;
        padding-right: 0%;
        grid-template-columns: repeat(1, 2fr);
        grid-row-gap: 5px;
        background-color: #fff;
        width: 100%;
        margin-left: 0;
        margin-right: 5rem;
    }

    #visual_menu img{
        width: 100%;
        height: 20rem;
        }

    #currentLink, #teamLink, #pastLink, #workLink {
        text-align: center;
        padding-top: 1.5rem;
        margin-left: 4rem;
        color: #000;
        background: transparent;
    }



    #theDiv {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: 100%;
        margin-top: -2%;
        background-color: white;
        text-align: left;
        padding-top: 0.5rem;
        padding-bottom: .5rem;
        word-spacing: 0.25rem;
        letter-spacing: 2px;
    }
    

    #templateTitle { 
        margin-top: 25%;
    }  
    
    #templatePage {
        display: flex;
        flex-direction: column;
        margin-bottom: -5%;
    }

    #templateDesc {
        margin: 5%;
        background-color: rgba(204, 204, 204, 0.8);
        padding: 5%;
        border-radius: 15px;
    }

    #templatePicWeb {
        display: none;
    }

    #templatePicPhone {
        width: 100%;
    }

    #templatePicPhone img {
        width: 100%;
    }

    #directory {
        grid-template-columns: repeat(2, 2fr);
        grid-row-gap: 5px;
        grid-column-gap: 5px;
    }

    #pastBox {
        display: none;
    }

    #currentBox {
        display: none;
    }

    #pastBoxMobile {
        display: block;
        width: 100%;
    }
    
    #currentBoxMobile {
        display: block; 
        width: 100%;
    }

    #projPageBox {
        margin: 0 auto;
        margin-top: 0;
        padding: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-gap: .5rem;
        grid-auto-rows: minmax(100px, auto);
        text-align: center;
        margin-bottom: 0;
    }

    #aboutBoxWeb {
        display: none;
    }

    #aboutBoxMobile {
        background: rgba(0,3,127, .90);
        color: white;
        padding: .5rem;
        margin-top: -1rem;
        
    }
    
    #aboutBoxMobile h1 {
        font-size: 1em; 
    } 
    
    #readAboutBox {
        margin: 0 auto;
        background-color: rgba(204, 204, 204, 0.8);
        margin-left: 1rem;
        margin-right: 1rem;
        /* padding-left: 1rem; */
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 15px;
    }
    
    #hero {
        position: static;
        width: 100%;
        margin-top: 6rem;
        padding: 0rem;
        padding-right: 0rem;
        padding-left: 0rem;
        }
    
    #diaGram {
        width: 100%;
        padding: 1rem;
        margin-left: 0;
    }
    
    #diaGram img {
        width: 100%;
    }

    #headbox {
        color: white;
        padding-left: 3rem;
        padding-top: 0.2rem;
        padding-bottom: .25rem;
        margin-top: 6rem;
        background: rgba(0,3,127, .90);
    }

    #headbox h1 {
        font-size: 1.25em;
    }
    
    #postBoxMobile {
        margin-top: 1rem;
    }

    #pastBoxMobile img {
        width: 100%;
    }
    
    .projPagePastMobile {
        width: 100%;
        padding: 1rem;
        background-color: white;
        margin-top: -0.25rem;
    }

    #currentBoxMobile {
        margin-top: 0rem;
    }

    #currentBoxMobile img {
        width: 100%;
    }

    .projPageCurrentMobile {
        width: 100%;
        padding: 1rem;
        background-color: white;
        margin-top: -0.25rem;
    }

    #pubHead {
        margin-top: 6rem;
    }
    
    #footer {
        margin-bottom: 0;
        margin-top: 10%;
    }

    }