/*DO NOT TOUCH THIS CSS*/
/*I REPEAT: DO NOT TOUCH THIS CSS*/
/*UNLES YOU ARE A WEB DEVELOPER OR IDM/CS STUDENT, DO NOT TOUCH THIS CSS*/
* {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    }
    
 html {
    font-size: 16px;
    width: 100%;
    height: 100vh;
    /* background-image: url(img/background.png);     */
    }


#wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    }

/*Head CSS*/

.head_menu {
    background-color: rgb(0,3,127);
    text-align: right;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    }

.head_menu a {
    color: white;
    text-decoration-style: none;
    padding: 5%;
    }

/*index CSS*/

/*directory CSS*/

/*Footer CSS*/
#footer{
    width: 100%;
    background-color: rgb(0,3,127);
    color: white;
    }

